h1 {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 15px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1a1a1a;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>'),
    auto;
}

canvas {
  border: 1px solid white;
  background-color: #1a1a1a;
}

.palette-selector-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.palette-option {
  display: flex;
  border: 2px solid transparent;
  cursor: pointer;
  margin: 4px;
  padding: 2px;
  border-radius: 5px;
  transition: border-color 0.2s ease-in-out;
}

.palette-option:hover {
  border-color: #666;
}

.color-swatch {
  width: 16px;
  height: 16px;
  margin: 1px;
  border-radius: 3px;
}

.palette-option.selected {
  border-color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.fractal-selector-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.fractal-option {
  background-color: #000;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}

.fractal-option:hover {
  background-color: #333;
  border-color: #999;
}

.fractal-option.selected {
  background-color: #333;
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.palette-option:hover {
  border-color: #666;
}

.palette-option.selected {
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
